<!doctype html>
<html lang="en">

<head>
  <title>{{ title }}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ SITEURL }}/static/simple.css">
  <link rel="stylesheet" href="{{ SITEURL }}/static/custom.css">
</head>

<body>

  <header>
    <nav>
      <h1>nodata.science</h1>
      <a {% if _nav_page == "home" %}class="current"{% endif %} href="{{ SITEURL }}/index.html">Home</a>
      <a {% if _nav_page == "blog" %}class="current"{% endif %} href="{{ SITEURL }}/blog.html">Blog</a>
      <a {% if _nav_page == "research" %}class="current"{% endif %} href="{{ SITEURL }}/research.html">Research</a>
      <!-- <a {% if page == "uses" %}class="current"{% endif %} href="{{ SITEURL }}/uses.html">Uses</a> -->
      <!-- <a {% if page == "rss" %}class="current"{% endif %} href="{{ SITEURL }}/rss.html">RSS</a> -->
    </nav>
  </header>

  <main>
    <div id="content">
{% block content %}
{% endblock %}
    </div>
  </main>

  <footer>
    <p>
      Created by Stefan Otte
        | 2013 - 2024
        | <a href="https://github.com/sotte/">github</a>
        | <a href="https://www.linkedin.com/in/stefan-otte-29367a111/">linkedin</a>
    </p>
  </footer>

</body>

</html>
